/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #56AC6F;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

header {
    background-color: #000000;
    padding: 0.1px; /* Ajusta el padding para hacer el header más angosto */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    max-height: 0.5px;
}

header img {
    width: 250px; /* Ajusta este valor según el tamaño deseado */
    height: auto; /* Mantiene la proporción del logo */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold; /* Pone el texto en negrita */
    font-size: 1.2rem; /* Aumenta el tamaño de la fuente */
}

nav ul li a:hover {
    text-decoration: underline;
    background-color: #111;
}

main {
    text-align: center; /* Centra el texto y los botones dentro del main */
    padding: 20px;
}

.boton {
    display: inline-block;
    background-color: #8CA050;
    color: white;
    padding: 1rem 2rem;
    margin: 0.5rem;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    font-size: 1rem;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 30px; /* Espacio entre los botones */
}

.menu-button {
    background-color: #8CA050;
    color: white;
    width: 150px; /* Tamaño fijo del botón */
    height: 150px; /* Tamaño fijo del botón (igual al ancho para hacerlo cuadrado) */
    font-size: 1.5em; /* Aumenta el tamaño del texto dentro del botón */
    font-weight: bold; /* Pone el texto en negrita */
    border: none;
    border-radius: 15px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center; /* Centra el texto dentro del botón */
    text-decoration: none; /* Quita el subrayado */
}

.menu-button:hover {
    background-color: #56AC6F;
}

footer {
    background-color: #333;
    color: #FFF;
    text-align: center;
    padding: 1px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Styles for button-container with buttons */
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px; /* Espacio entre las filas de botones */
}

button {
    background-color: #8CA050;
    color: white;
    border: none;
    padding: 2rem 2rem;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 1.5rem; /* Aumenta el tamaño de los botones */
    font-weight: bold; /* Hace el texto en negrita */
    cursor: pointer;
    outline: none;
    text-decoration: none; /* Quita el subrayado */
}

button:hover {
    background-color: #7b8e40;
}

h1 {
    color: #000000; /* Color verde especificado */
    font-size: 2.5em; /* Tamaño de fuente ajustable */
    margin: 0;
    padding: 10px 0;
}

.logo {
    width: 200px;
    height: auto;
}

.title {
    font-size: 36px;
    color: #7b8e40;
}

/* Dropdown Menu Styles */
/* Estilos para el menú desplegable */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    float: left; /* Mantiene "Iniciar Sesión" a la izquierda */
    margin-right: 10px; /* Añade espacio entre el texto y las tres líneas */
}

.menu-icon {
    cursor: pointer;
    font-size: 24px;
    display: inline-block;
    vertical-align: middle; /* Alinea el ícono verticalmente con el texto */
    margin-left: 5px; /* Añade un pequeño espacio entre "Iniciar Sesión" y el ícono */
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #7b8e40;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1;
    border-radius: 10px; /* Esquinas redondeadas */
    font-size: 15px;
    
}
/* Mostrar el menú cuando se hace clic */
.show {
    display: flex;
}
/* Estilos para la información del usuario */
.user-info {
    text-align: left; /* Alinea el texto a la izquierda */
    padding: 10px; /* Espaciado alrededor de la información del usuario */
}

.user-info img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 20px;
}
/* Estilos para los enlaces del menú */
.dropdown-content ul {
    list-style-type: none;
    padding: 0;
}
.dropdown-content.show {
    display: block; /* Muestra el menú al activarse */
}

.dropdown-content ul li {
    margin-bottom: 10px;
}



.dropdown-content ul li a:hover {
    text-decoration: underline;
}

/* Estilos para la sección izquierda */
.left-section {
    flex: 1; /* Ocupa espacio proporcional */
}

.action-box {
    border: 1px solid black; /* Borde negro */
    padding: 5px; /* Espaciado dentro del cuadrado */
    border-radius: 5px; /* Esquinas redondeadas */
    background-color: #ffffff31; /* Color de fondo del cuadrado */
    font-size: small;
}


