<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bisys</title>
    <link rel="icon" href="../frontend/images/logo.png">
    <link rel="stylesheet" href="../frontend/styles.css"> <!-- Vincula el archivo CSS -->

</head>
<body>
    <!-- Header -->
    <header>
        <img src="../frontend/images/BISYS(Logo) (A2 (horizontal)).png" alt="Logo de Bisys" class="logo">
        <nav>
            <ul>
                <li><a href="./index.html">Home</a></li>
                <li><a href="./gestion_usuarios.html">Gestión de Usuario</a></li>
                <li><a href="./iniciar_sesion.html">Iniciar Sesión</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main Content -->
   
    <main>
        <h1 style="font-family: Arial Black, sans-serif;">Bicicletas Enrique</h1>
        <br><br>
        <section class="buttons-container">
            <div class="button-group">
                <a class="menu-button" href="./caño.html">Caño</a>
                <a class="menu-button" href="./pages/Productos.html">Productos</a>
                <a class="menu-button" href="./pages/Scrap.html">Scrap</a>
            </div>
            <br><br><br>
            <div class="button-group">
                <a class="menu-button" href="./pages/OrdenDeProduccion.html">Orden de Producción</a>
                <a class="menu-button" href="./pages/OrdenDeTrabajo.html">Orden de Trabajo</a>
                <a class="menu-button" href="./pages/Reportes.html">Reportes</a>
            </div>
            <br>
            <br><br><br>
        </section>
        </div>
    </main>
<br><br><br><br><br>
    <!-- Footer -->
    <footer>
        <p>© Bisys - Desarrollado por G12</p>
    </footer>
</body>
</html>
